<% if current_user.present? %>
  <%= link_to 'Add New Book', new_dashboard_path, class:"btn btn-info text-white m-2 mt-3" %> <hr class="bg-dark">
<% end %>

<hr>

<table class="table table-striped text-dark text-center">
  <h3 class="text-dark text-center font-weight-bold"><i class="fas fa-bookmark"></i> Favorite Books</h3>
  <hr class="divider my-4" />
  <br>
  <tr>
    <th class="text-dark"><i class="fas fa-book"></i> Title</th>
    <th class="text-dark"><i class="fas fa-user-tie"></i> Author</th>
    <th class="text-dark"><i class="fas fa-sort-numeric-down"></i> Pagecount</th>
    <th class="text-dark"><i class="far fa-user"></i> Username</th>
    <th class="text-dark"><i class="fas fa-heart"></i> Popularity</th>
  </tr>

  <% @bookmarks.map do |book_id, count| %>
    
    <% book = Book.find(book_id) %>
    <tr>
      <td><%= book.title %></td>
      <td><%= book.author %></td>
      <td><%= book.pagecount %></td>
      <td><%= book.user.username %></td>
      <td><%= count %></td>
    </tr>
  <% end %>
</table>

<hr> <br> <br>

<h3 class="col-sm text-center text-dark p-4 font-weight-bold"><i class="fas fa-book"></i> Shareable Books</h3>
<hr class="divider my-2" />

<div class="row center ml-5">
    <% @books.each do |book| %>
      <% user = User.find(book.user_id) %>
      <div class="card text-white bg-primary m-5 col-4" style="min-width: 26rem;">
        <div class="card-header bg-dark font-weight-bold text-white rounded text-center pt-3"><i class="fas fa-book-reader float-left fa-2x"></i><%= book.title %></div>
        <div class="card-body">
          <p><p class="card-title font-weight-bold d-inline text-dark"><i class="fas fa-user-tie"></i> Author : </p><%= book.author %></p><hr>
          <p><p class="card-title font-weight-bold d-inline text-dark"><i class="far fa-user"></i> Username : </p><%= user.username %></p><hr>
          <div class="text-center">
            <% if current_user %>
              <%= link_to 'Show', book_path(book), class:"btn btn-info text-white" %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center mt-5">
    <li class="page-item">
      <%= link_to "<< Previous", root_path(page: (@page - 1) < 0 ? 0 : (@page - 1)), class:" font-weight-bold mx-1 kaan"%>
    </li>
    <li class="page-item">
      <%= link_to "Next >>", root_path(page: (@page + 1) > @page_count - 1 ? @page_count - 1 : (@page + 1)), class:"font-weight-bold kaan"%>
    </li>
  </ul>
</nav>